/********Global styling************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

 
:root{
    --global-background-color: black;
    --link-background-color: red;
    --global-text-color: white;
    --text-hover-color: grey;
    --red-color: red;
}

html{
    background-color: var(--global-background-color);
    color: var(--global-text-color);
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--global-text-color);
}

a:hover{
    color: var(--text-hover-color);
}

input{
    width: 70%;
    margin: 10px auto;
    padding: 5px;
    border: none;
}

input:focus{
    border: solid 1px var(--link-background-color);
}

/******** Header Part ********"*/
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    box-shadow:0 10px 1000px 2px var(--red-color);
}


header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}

header nav ul{
    list-style-type: none;
    display: inline-flex;
}

header nav ul li{
    margin: 5px;
}

@media screen and (max-width: 640px) {
    header nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brand{
        margin-bottom: 30px;
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
    }
}


/***********Footer Part*********8*/

footer{
    bottom: 0;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0 10px 1000px 12px var(--red-color);
    margin-top: auto;
}


/********** Modals Styling********/

.modals-wrapper{
    width: 100%;
    height: 100%;
    background-color: var(--global-background-color);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.modal{
    background-color: rgb(35, 40, 175);
    width: 500px;
    min-height: 300px;
    padding: 20px;
    margin-bottom: 100px;
}

#close-modal{
    background-color: var(--link-background-color);
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    padding: 5px;
}

#login-modal, #signup-modal{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Profile-modal{
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75px;
    width: 300px;
}

#password-modal, #add-password-modal{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/****** Copy feature*********/
.copy{
    cursor: pointer;
}

/*********** Card Styling *********/

.container{
    margin-top: 20px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-bottom: 80px;
}

.card{
    background-color: rgb(147, 59, 229);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    height: 300px;
    width: 250px;
}

.actions{
    margin: 5px;
    cursor: pointer;
    border: solid 0.3px black;
    padding: 5px;
}

.actions a{
    display: none;
    background-color: var(--link-background-color);
    flex-direction: column;
    padding: 5px;
    align-items: center;
}

.actions:hover .action-item{
    display: flex;
}


@media screen and (max-width: 680px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 420px) {
    .container{
        grid-template-columns: 1fr;
    }
    .card{
        width: 375px;
    }
}
@media screen and (max-width: 680px) {
    .modal{
        min-height: 300px;
    }

    .modals-wrapper{
        max-height: 740px;
    }
}
